MGE-XE.cbp
MGE-XE.depend
MGE-XE.layout
MGE-XE-DLfuncs.cbp
MGE-XE-DLfuncs.depend
MGE-XE-DLfuncs.layout
/.vs/
/bin/
/MGEgui/bin/
/MaterialEditor/bin/
/lib/
/MGEgui/lib/
/MaterialEditor/lib/
/obj/
/MGEgui/obj/
/MaterialEditor/obj/
/MaterialEditor/packages/
/CMakeCache.txt
/CMakeFiles/
MGEgui/.vs/
/mgeHost64/x64/Debug
/mgeHost64/Debug
/mgeXE.log
/x64/Debug
/mgeHost64/mgeHost64.vcxproj.user
/mgeHost64/x64/Release
/x64/Release
/MGEgui/.idea/.idea.MGEgui_vc2008/.idea
/MGEgui/.idea/.idea.MGEgui_vc2008/.idea/.gitignore
/MGEgui/.idea/.idea.MGEgui_vc2008/.idea/.name
/MGEgui/.idea/.idea.MGEgui_vc2008/.idea/encodings.xml
/MGEgui/.idea/.idea.MGEgui_vc2008/.idea/indexLayout.xml
/MGEgui/.idea/.idea.MGEgui_vc2008/.idea/vcs.xml
/MGEgui/packages/SlimDX.4.0.13.44
/MGEgui/packages/SlimDX.4.0.13.44/.signature.p7s
/MGEgui/packages/SlimDX.4.0.13.44/lib
/MGEgui/packages/SlimDX.4.0.13.44/lib/NET20
/MGEgui/packages/SlimDX.4.0.13.44/lib/NET20/SlimDX.dll
/MGEgui/packages/SlimDX.4.0.13.44/lib/NET40
/MGEgui/packages/SlimDX.4.0.13.44/lib/NET40/SlimDX.dll
/MGEgui/packages/SlimDX.4.0.13.44/SlimDX.4.0.13.44.nupkg
/MGEgui/MGEgui_vc2008.sln.DotSettings.user
