MGE-XE.cbp
MGE-XE.depend
MGE-XE.layout
MGE-XE-DLfuncs.cbp
MGE-XE-DLfuncs.depend
MGE-XE-DLfuncs.layout
/.vs/
/bin/
/MGEgui/bin/
/MaterialEditor/bin/
/lib/
/MGEgui/lib/
/MaterialEditor/lib/
/obj/
/MGEgui/obj/
/MaterialEditor/obj/
/MaterialEditor/packages/
/CMakeCache.txt
/CMakeFiles/
MGEgui/.vs/
