MGE-XE.cbp
MGE-XE.depend
MGE-XE.layout
MGE-XE-DLfuncs.cbp
MGE-XE-DLfuncs.depend
MGE-XE-DLfuncs.layout
/.vs/
/bin/
/MGEgui/bin/
/MaterialEditor/bin/
/lib/
/MGEgui/lib/
/MaterialEditor/lib/
/obj/
/MGEgui/obj/
/MaterialEditor/obj/
/MaterialEditor/packages/
/CMakeCache.txt
/CMakeFiles/
MGEgui/.vs/
/mgeHost64/x64/Debug
/mgeHost64/Debug
/mgeXE.log
/x64/Debug
/mgeHost64/mgeHost64.vcxproj.user
